/OpenXRExpansionPlugin/Binaries
/OpenXRExpansionPlugin/Intermediate

/VRExpansionPlugin/Intermediate
/VRExpansionPlugin/Binaries

/EnhancedVirtualExperience/Intermediate
/EnhancedVirtualExperience/Binaries
